<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Coordenadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="contenedor">
        <h2>Esta App no almacena datos personales :)</h2>
    </div>
    <div class="contenedor">
        <ng-template #iniciar>
            <h3>Ingrese cantidad máxima de mediciones</h3>
            <input type="text" [(ngModel)]="medicionesMax">
            <button (click)="validacionServicio()">Iniciar Servicio</button>
        </ng-template>
        <ng-template #terminar>
            <button (click)="validacionServicio()">Terminar Servicio</button>
        </ng-template>
        <div *ngIf="!inicio;then iniciar;else terminar"></div>


    </div>
</ion-content>